/*
<div class="ButtonList">
	<button id="buttonShowRegister" class="ghost">{secondary button caption}</button>
	<button id="buttonLogin" >{caption}</button>
</div>
*/

.ButtonList {
	display: flex;
	justify-content: space-between;
	font-family: 'Open Sans', sans-serif;
}

.ButtonList > button {
	padding: 8px;
	min-width: 40%;
	background-color: var(--accent-1);
	color: #ffffff;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	outline: none;
}

.ButtonList > .ghost {
	background-color: inherit;
	color: var(--accent-1);
}

.ButtonList > button:disabled {
	opacity: 0.75;
}

.to-right {
	margin-left: auto;
}
