/*
<div class="ButtonReturn">
	<img src="{{ url_for('static', filename = 'images/return.svg') }}">
</div>
*/

.ButtonReturn {
	position: fixed;
	z-index: 1;
	top: 15px;
	left: 15px;
}

.ButtonReturn img {
	height: 30px;
	object-fit: contain;
	cursor: pointer;
}
