/*
<div class="LoginForm">
	<div class="Form">
		<h2>{form title}</h2>

		<div id="loginError" class="errorMessage display-none"></div>

		inputs

		[ButtonList]
	</div>
	[...]
</div>
*/

.LoginForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Form {
	display: flex;
	flex-direction: column;
	background-color: var(--card-bg);
	padding: 16px;
	width: 90%;
	font-family: 'Open Sans', sans-serif;
	border-top: solid 1px rgba(0, 0, 0, 0.2);
	border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.Form h2 {
	font-family: 'Lora', serif;
	margin-bottom: 12px;
}

.Form input {
	margin-top: 4px;
	margin-bottom: 16px;
	padding: 6px;
	outline: none;
	border: solid 1px var(--accent-1);
	border-radius: 4px;
}

.errorMessage {
	background-color: #ff7373;
	color: #fff3f3;
	padding: 6px;
	margin-bottom: 8px;
	border-radius: 2px;
	cursor: pointer;
}

.Disclaimer {
	color: inherit;
	text-align: center;
	font-size: 12px;
	margin-top: 24px;
}

.Disclaimer a {
	color: var(--accent-1);
	text-decoration: none;
}

@media screen and (min-width: 500px) {
	.Form {
		width: 400px;
		border-radius: 6px;
		border-left: solid 1px rgba(0, 0, 0, 0.2);
		border-right: solid 1px rgba(0, 0, 0, 0.2);
	}
}
