@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
	--accent-1: #2f2d52;
	--accent-2: #c0c0ca;
	--page-bg: #eaf1f9;
	--active: #85bd76;
	--card-bg: #ffffff;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lora', sans-serif;
	background-color: var(--page-bg);
}

.Container {
	margin-top: 60px;
	margin-bottom: 60px;
}

.display-none {
	display: none;
}
