/*
<div class="Page404">
	<img src="{{ url_for('static', filename = 'images/404.svg') }}" alt="Not found">
	<p>{message}</p>
	<button onclick="window.history.back()" class="ReturnButton">{caption}</button>
</div>
*/

.Page404 {
	padding: 16px 0;
	text-align: center;
	font-size: 24px;
}

.Page404 img {
	width: 40%;
	max-width: 200px;
	object-fit: contain;
	border-radius: 50%;
}

.Page404 .ReturnButton {
	margin: 16px;
	padding: 12px;
	background-color: var(--accent-1);
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	border: none;
	border-radius: 8px;
	outline: none;
	cursor: pointer;
}
