/*
<div class="ProductList">
	{% for product in [] %}
	<a class="Product" href="#">{{ product }}</a>
	{% else %}
	<p class="NoProducts">Aún no tienes favoritos.</p>
	{% endfor %}
</div>
*/

.ProductSection {
	margin: 16px;
}

.ProductSection h3 {
	margin-bottom: 4px;
}

.ProductList {
	font-family: 'Open Sans', sans-serif;
}

.Product {
	display: block;
	padding: 16px;
	margin-bottom: 12px;
	background-color: var(--card-bg);
	color: inherit;
	text-decoration: none;
	border-radius: 8px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.NoProducts {
	padding: 16px;
	background-color: var(--card-bg);
	text-align: center;
	border-radius: 8px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 600px) {
	.ProductSection {
		margin-left: auto;
		margin-right: auto;
		width: 500px;
	}
}
