:root {
	--active: #85bd76;
	--inactive: #c6c6c6;
}

* {
	margin: 0px;
	padding: 0px;
}

.container {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.switch {
	position: relative;
	width: 80px;
	height: 40px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: var(--inactive);
	outline: none;
	border-radius: 20px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}

.switch:checked {
	background-color: var(--active);
}

.switch:before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: 0;
	left: 0;
	background-color: #ffffff;
	transform: scale(0.85);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}

.switch:checked:before {
	left: 50%;
}
