{% extends 'layouts/BaseLayout.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/Header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/LoginForm.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/ButtonList.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/Installation.css') }}">
{% endblock links %}

{% block body %}
<div class="App">
	<div class="Header">
		<img src="{{ url_for('static', filename = 'icons/icon-72x72.png') }}">
	</div>

	<div class="Container">
		<div class="LoginForm">
			<form id="loginForm" class="Form" method="post">
				<h2>Iniciar sesión</h2>
		
				<div id="loginError" class="errorMessage display-none"></div>
		
				<label for="loginEmail">Correo electrónico</label>
				<input id="loginEmail" name="email" type="email" placeholder="Correo electrónico">
	
				<label for="loginPassword">Contraseña</label>
				<input id="loginPassword" name="password" type="password" placeholder="Contraseña">
		
				<div class="ButtonList">
					<button type="button" id="buttonShowRegister" class="ghost">No tengo una cuenta</button>
					<button type="submit">Iniciar sesión</button>
				</div>
			</form>
			
			<form id="registerForm" class="Form display-none" method="post">
				<h2>Registrarse</h2>
				
				<div id="registerError" class="errorMessage display-none"></div>
	
				<label for="registerFirstName">Nombre</label>
				<input id="registerFirstName" name="first_name" type="text" placeholder="Nombre">
	
				<label for="registerLastName">Apellido</label>
				<input id="registerLastName" name="last_name" type="text" placeholder="Apellido">
	
				<label for="registerEmail">Correo electrónico</label>
				<input id="registerEmail" name="email" type="email" placeholder="Correo electrónico">
	
				<label for="registerPassword1">Contraseña</label>
				<input id="registerPassword1" name="password" type="password" placeholder="Contraseña">
	
				<label for="registerPassword2">Confirmar contraseña</label>
				<input id="registerPassword2" name="password" type="password" placeholder="Confirmar contraseña">
	
				<div class="ButtonList">
					<button type="button" id="buttonShowLogin" class="ghost">Ya tengo una cuenta</button>
					<button type="submit">Registrarse</button>
				</div>
	
				<p class="Disclaimer">Al registrarte aceptas nuestros <a href="#">Términos de uso</a> y las <a href="#">Normas comunitarias</a>.</p>
			</form>
		</div>
	</div>

	<div class="Installation">
		<p>Obtén la aplicación para una mejor experiencia</p>
		<button>Instalar</button>
	</div>
</div>
{% endblock body %}

{% block scripts %}
<script src="{{ url_for('static', filename = 'js/LoginForm.js') }}"></script>
{% endblock scripts %}
