{% extends 'layouts/BaseLayout.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/Header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/ButtonReturn.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/Settings.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/NavigationBar.css') }}">
{% endblock links %}

{% block body %}
<div class="App">
	<div class="ButtonReturn">
		<img src="{{ url_for('static', filename = 'images/return.svg') }}">
	</div>

	<div class="Header">
		bite
	</div>

	<div class="Container">
		<div class="AccountView">
			<p class="AccountName">{{ user.first_name }} {{ user.last_name }}</p>
			<p class="AccountMail">{{ user.email }}</p>
		</div>

		<div class="Settings">
			<p>Cuenta</p>
		
			<div class="OptionList">
				<a href="#" class="Option">Editar cuenta</a>
				<a href="#" class="Option">Convertirse en vendedor</a>
			</div>
		</div>

		<div class="Settings">
			<p>Seguridad</p>
		
			<div class="OptionList">
				<a href="#" class="Option">Cambiar contraseña</a>
			</div>
		</div>
		
		<div class="Settings">
			<p>Acerca de</p>
		
			<div class="OptionList">
				<a href="#" class="Option">Términos y condiciones</a>
				<a href="#" class="Option">Feedback</a>
				<a href="#" class="Option">Ayuda</a>
			</div>
		</div>

		<div class="Settings">
			<div class="OptionList">
				<a href="/logout" class="Option danger">Cerrar sesión</a>
			</div>
		</div>

	</div>

	<div class="NavigationBar">
		<a class="NavigationButton" href="/home">
			<img src="{{ url_for('static', filename = 'images/home.svg') }}">
			<p>Inicio</p>
		</a>
		<a class="NavigationButton" href="/search">
			<img src="{{ url_for('static', filename = 'images/search.svg') }}">
			<p>Buscar</p>
		</a>
		<a class="NavigationButton" href="/orders">
			<img src="{{ url_for('static', filename = 'images/orders.svg') }}">
			<p>Pedidos</p>
		</a>
		<a class="NavigationButton current" href="/profile">
			<img src="{{ url_for('static', filename = 'images/account.svg') }}">
			<p>Cuenta</p>
		</a>
	</div>
</div>
{% endblock body %}

{% block scripts %}
<script src="{{ url_for('static', filename = 'js/ButtonReturn.js') }}"></script>
{% endblock scripts %}